<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
            {{>header}}
            <p>This site was created by Alek Alexanyan. It uses data from mapbox.com and weatherstack.com</p>
            <img class="portrait" src="/img/Alek.jpg" alt="Sorry file didn't upload :(">

     </div>
    {{>footer}}
</body>
</html>